@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body{
  background: mediumseagreen;
  padding: 3em;
  font-family: 'Raleway','Arial';
  color: Black;
}
ul{
  display: inline;
  margin-right:30px;
}
ul li a {
  font-size: 1.5em;
}

a{
  color: ghostwhite;
  text-decoration: none;
}
